.TopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    margin-bottom: 15px;

    font-weight: bold;
}

.TopContainer img {
    width: 100px;
    border-radius: 50%;
}

.TopContainer p {
    font-size: 14pt;
}
